@import "lib/fonts"
@import "lib/bootstrap-reboot.min"
@import "lib/slick"

*
    font-family: 'Roboto', sans-serif
    .slick-slide
        &:focus
            outline: none
    .slick-prev, .slick-next
        &:focus
            outline: none
.container
    max-width: 1140px
    margin: 0 auto

@import "blocks/header"
@import "blocks/promo"
@import "blocks/buttons"
@import "blocks/with"
@import "blocks/titles"
@import "blocks/solution"
@import "blocks/advantages"
@import "blocks/variant"
@import "blocks/access"
@import "blocks/footer"
@import "blocks/modal"