.title
    font-size: 41px
    font-weight: 900
    line-height: 1.14
    text-align: center
    color: #ffffff
    &__promo
        margin-top: 130px
        margin-bottom: 27px
        text-align: left
    &__with
        margin-top: 155px   
        font-size: 48px
        color: #393939
    &__solution
        font-size: 30px
    &__advantages
        color: #393939
        font-size: 30px
    &__variant
        font-size: 30px
    &__access
        color: #393939
        font-size: 30px
        line-height: 36px
        margin-top: 74px
    &__footer
        font-size: 16px
        text-align: left
